<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume | Pengyu Wang</title>
    <link rel="stylesheet" href="../css/resume_activity.css">
    <link rel="stylesheet" href="https://googleapis.com">
</head>
<body>

<header>
    <div class="nav-wrap">
        <div class="logo">
            <div class="logo-box"></div>
            <span>Pengyu Wang</span>
        </div>

        <nav>
            <a href="MainActivity.html">Home</a>
            <a href="AboutActivity.html">About</a>
            <a href="ExperienceActivity.html">Experience</a>
            <a href="SkillsActivity.html">Skills</a>
            <a href="ProjectsActivity.html">Projects</a>
            <a href="ResumeActivity.html">Resume</a>
            <a href="ContactActivity.html">Contact</a>
        </nav>
    </div>
</header>

<main class="resume-page">

    <section class="section-title">
        <h1>Resume</h1>
        <p>
            Download my comprehensive resume to learn more about my
            experience, skills, and achievements.
        </p>
    </section>

    <section class="resume-card">
        <div class="download-icon">
            <svg class="download-icon"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                <path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/>
            </svg>
        </div>

        <h2>Full Resume (PDF)</h2>

        <p>
            Includes detailed work history, technical skills,
            project experience, and education highlights.
        </p>

        <a class="download-btn" href="../assets/files/20260418_FullStack_Resume-Pengyu Wang.pdf" download>

            Download Resume
        </a>

    </section>

</main>

</body>
</html>